---
---
<!-- _layouts/bib.html -->
      <div class="row">
        <div class="col-sm-2 {% if entry.preview %}preview{% else %}abbr{% endif %}">
        {%- if entry.preview -%}
          {% if entry.preview contains '://' -%}
          <img class="preview z-depth-1 rounded" src="{{ entry.preview }}">
          {%- else -%}
          <img class="preview z-depth-1 rounded" src="{{ entry.preview | prepend: '/assets/img/publication_preview/' | relative_url }}">
          {%- endif -%}
        {%- elsif entry.abbr -%}
          {%- if site.data.venues[entry.abbr] -%}
          <abbr class="badge"><a href="{{site.data.venues[entry.abbr].url}}">{{entry.abbr}}</a></abbr>
          {%- else -%}
          <abbr class="badge">{{entry.abbr}}</abbr>
          {%- endif -%}
        {%- endif -%}
        </div>

 {% if entry.type == "article" %}
<strong>{{entry.title}}</strong> <br>
       by {% for author in entry.author_array %}
          {% assign author_is_self = false %}
          {% if author.last contains "Ong"%}
              {% assign author_is_self = true %}
          {% endif %}
          
          {% if forloop.length == 1 %}
            {% if author_is_self %}
              <u>{{author.last}}</u>
            {% else %}
              {{author.last}}
            {% endif %}
          {% else %}
            {% unless forloop.last %}
              {% if author_is_self %}
                <u>{{author.last}}</u>,
              {% else %}
                  {{author.last}},
              {% endif %}
            {% else %}
              {% if author_is_self %}
                and <u>{{author.last}}</u>
              {% else %}
                  and {{author.last}}
              {% endif %}
            {% endunless %}
	  {% endif %}
	  {% endfor %}<br>
   <em>{{entry.journal}}</em>, {{entry.volume}}({{entry.number}}), {{entry.month}} {{entry.year}}<br>
  <div class="mylinks">
    {% if entry.doi %}
      <a href="https://dx.doi.org/{{ entry.doi }}" class="mybtn btn-sm z-depth-0" role="button" target="_blank">DOI</a>
      {% endif %}    
    {% if entry.url1 %}
      <a href="{{ entry.url1 }}" class="mybtn btn-sm z-depth-0" role="button" target="_blank">PDF</a>
      {% endif %}

      </div>
  {% endif %}
   {% if entry.type == "inproceedings" %}
  <strong>{{entry.title}}</strong> <br>
           by {% for author in entry.author_array %}
          {% assign author_is_self = false %}
          {% if author.last contains "Ong"%}
              {% assign author_is_self = true %}
          {% endif %}
          
          {% if forloop.length == 1 %}
            {% if author_is_self %}
              <u>{{author.last}}</u>
            {% else %}
              {{author.last}}
            {% endif %}
          {% else %}
            {% unless forloop.last %}
              {% if author_is_self %}
                <u>{{author.last}}</u>,
              {% else %}
                  {{author.last}},
              {% endif %}
            {% else %}
              {% if author_is_self %}
                and <u>{{author.last}}</u>
              {% else %}
                  and {{author.last}}
              {% endif %}
            {% endunless %}
	  {% endif %}
	  {% endfor %}<br>
   <em>Proc. {{entry.booktitle}}</em>, {{entry.address}}, {{entry.month}} {{entry.year}}<br>
  <div class="mylinks">
    {% if entry.doi %}
      <a href="https://dx.doi.org/{{ entry.doi }}" class="mybtn btn-sm z-depth-0" role="button" target="_blank">DOI</a>
      {% endif %}    
    {% if entry.url1 %}
      <a href="{{ entry.url1 }}" class="mybtn btn-sm z-depth-0" role="button" target="_blank">PDF</a>
      {% endif %}
      </div>
  {% endif %}

   {% if entry.type == "PhD Thesis" or entry.type == "MPhil Thesis" or entry.type == "BEng Thesis"%}
  <strong>{{entry.title}}</strong> <br>
           by {% for author in entry.author_array %}
          {% assign author_is_self = false %}
          {% if author.last contains "Ong"%}
              {% assign author_is_self = true %}
          {% endif %}
          
          {% if forloop.length == 1 %}
            {% if author_is_self %}
              <u>{{author.last}}</u>
            {% else %}
              {{author.last}}
            {% endif %}
          {% else %}
            {% unless forloop.last %}
              {% if author_is_self %}
                <u>{{author.last}}</u>,
              {% else %}
                  {{author.last}},
              {% endif %}
            {% else %}
              {% if author_is_self %}
                and <u>{{author.last}}</u>
              {% else %}
                  and {{author.last}}
              {% endif %}
            {% endunless %}
	  {% endif %}
	  {% endfor %}<br>
  <em>{{entry.type}}</em>, {{entry.school}}, {{entry.address}}, {{entry.month}} {{entry.year}}<br>
  <div class="mylinks">
    {% if entry.doi %}
      <a href="https://dx.doi.org/{{ entry.doi }}" class="mybtn btn-sm z-depth-0" role="button" target="_blank">DOI</a>
      {% endif %}    
    {% if entry.url1 %}
      <a href="{{ entry.url1 }}" class="mybtn btn-sm z-depth-0" role="button" target="_blank">PDF</a>
      {% endif %}
      </div>
  {% endif %}
